@import "./functions";

@media (min-width: em(768px)) {
    #background {
        height: em(600px);
    }
}

@media (min-width: em(1200px)) {
    #background {
        height: em(800px);
    }
        #bottles {
                margin-left: em(500px);
                margin-right: em(480px);
    }
}