* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    border: 1px solid blue;
    padding: 30px;
}

p {
    font-size: 4rem;
}