* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
}

#search {
    width: 90%;
    font-size: 2rem;
    padding: 10px;
    margin: 20px;
    margin-top: 40px;
    border-radius: 10px;
    align-self: flex-start;
}

#create-container {
    border: 1px solid white;
    padding: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;

    input, #notes-input {
        width: 100%;
        font-size: 2rem;
        margin: 10px 0;
        padding: 10px;
    }

    #button-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        button {
            font-size: 1.5rem;
            margin: 10px;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid white;
        }
    }

    .toggle-wrapper {
        position: relative;
        width: 60px;
        height: 34px;
        display: none;

        input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        .slider {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #666;
            transition: 0.4s;
            border-radius: 34px;
        }

        .slider::before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: 0.4s;
            border-radius: 50%;
        }

        input:checked + .slider {
            background-color: #4caf50;
        }

        input:checked + .slider::before {
            transform: translateX(26px);
        }
    }

    #close-btn {
        align-self: flex-end;
        padding: 10px;
        margin: 10px 0;
        font-size: 1.5rem;
        border: 1px solid red;
        border-radius: 10px;
    }

    #notes-input {
        overflow: hidden;
        resize: none;
        border: 1px solid grey;
    }

    #notes-input[data-placeholder]:empty:before {
        content: attr(data-placeholder);
        color: gray;
    }
}

#container {
    width: 90%;
    background-color: aqua;
    margin-top: 20px;
    column-count: 3;
    column-gap: 20px;
    position: relative;
    transition: all ease .3s;

    .card {
        border: 1px solid white;
        display: inline-block;
        min-height: 100px;
        max-height: 500px;
        overflow: hidden;
        width: 100%;
        break-inside: avoid;
        position: relative;
        scrollbar-width: none;
        cursor: pointer;

        [contenteditable='true'] {
            cursor: text;
        }
        
        h1, .card-content {
            word-wrap: break-word;
        }

        h1, .card-content, .card-date{
            padding: 20px;
        }

        &:hover {
            transform: scale(1.05);
        }
    }
}

.highlight {
    background-color: white;
    color: black;
    font-weight: lighter;
}

#no-results-message {
    font-size: 18px;
    color: #666;
    margin-top: 20px;
}

@import './markdown-styles';