* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
}

#search {
    width: 500px;
    font-size: 2rem;
    padding: 10px;
    margin: 20px;
    margin-top: 40px;
    border-radius: 10px;
}

#create-container {
    border: 1px solid white;
    padding: 20px;
    width: 500px;

    input, textarea, button {
        width: 100%;
        font-size: 2rem;
        margin-bottom: 10px;
    }

    textarea {
        overflow: hidden;
    }
}

#container {
    width: 90%;
    height: 100%;
    background-color: aqua;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .card {
        border: 1px solid white;
        padding: 20px;
        width: calc(33.33% - 20px);
        min-height: 200px;
        max-height: 300px;
        break-inside: avoid;
        transition: all ease 0.3s;
        
        h2, p {
            word-wrap: break-word;
            padding: 5px;
        }
    }
}

.highlight {
    background-color: white;
    color: black;
    font-weight: lighter;
}

#no-results-message {
    font-size: 18px;
    color: #666;
    margin-top: 20px;
}