* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(10, 0fr);
    grid-template-rows: repeat(10, 0fr);
    width: 90%;
    perspective: 1000px;
}

.hovered-top {
    background-color: chartreuse;
}

.box {
    background-color: red;
    height: 50px;
    width: 50px;
    transform-style: preserve-3d;
    transition: transform 0.2s, filter 0.2s;
}

.box:hover {
    transform: translateZ(150px);
    filter: brightness(1);
    background-color: #87F1FF;
}