* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 50px;
    font-family: 'Moderustic', sans-serif;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    z-index: 1000;
    nav {
        display: flex;
        justify-content: space-between;
        width: 90%;
        align-items: center;
        #logo {
            width: 200px;
        }

        p {
            display: flex;
            align-items: center;
            font-weight: 600;

            img {
                width: 10px;
                margin-left: 5px;
                margin-right: 5px;
            }

            span {
                font-weight: 400;
                margin-right: 5px;
            }
        }

        #header-buttons {
            display: flex;
            align-items: center;
            gap: 10px;

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                border-radius: 5px;
                padding: 5px;
                border: none;
                font-weight: 600;
            }

            #user-btn {
                height: 30px;
            }

            #cart img {
                width: 40px;
                height: 40px;
            }

            button:hover {
                box-shadow: 1px 3px 5px -2px black;
                background: linear-gradient(55deg, #FFB800, #FFBA00);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

#search-results {
    position: absolute;
    background-color: black;
    color: white;
    width: 220px;
    z-index: 10;
    li {
        list-style-type: none;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    li:hover {
        background-color: grey;
        font-size: 1.1rem;
    }
}

#category {
    width: 100%;
    height: 300px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    #category-container {
        display: flex;
        align-items: center;
        width: 80%;
        height: 100%;
        overflow-x: hidden;
        background-color: black;

        .category-item {
                flex: 0 0 200px;
                height: 100px;
                background-color: red;
                margin-right: 20px;
                transition: all ease-in 0.3s;
            }

            .category-item:hover {
                background-color: orange;
            }
    }

    button {
        position: absolute;

        &#previous {
            left: 0;
        }

        &#next {
            right: 0;
        }
    }
}

#food-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 80%;
}

#order-container{
    position: absolute;
    overflow: auto;
    top: 20%;
    display: none;
    z-index: 100;
    background-color: blue;
    height: auto;
    width: 50%;

    #cross {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
    #cross:active {
        color: orange;
    }
}

#order-message {
    position: fixed;
    bottom: 0;
    transition: height linear 0.5s;
    height: 0;
    margin: 10px;
    background: linear-gradient(76deg, #FFB800, #FF8A00);
    border-radius: 10px;
    p {
        font-size: 1.5rem;
        color: white;
        font-weight: bold;
        padding: 10px;
    }
}