 @media (min-width: 320px) and (max-width: 479px) {
    header {
            nav p {
                font-size: .3rem;
    
                img {
                    width: 5px;
                }
            }
    
            #header-buttons {
                gap: 5px;
            }
        }
    
        #header-buttons #search-btn a p {
            font-size: .5rem;
    
            img {
                width: 8px;
            }
        }
    
        #user-btn p {
            font-size: .5rem;
    
            img {
                width: 6px;
            }
        }
    
        header nav #logo {
            width: 80px;
        }
        #login-container {
            padding: 15px;
        }

        #login-container form input {
            font-size: .7em;
        }

        main #Delivery-panel{
            h1 {
                font-size: 1.4rem;
            }

            h6 {
                font-size: 0.6rem;
            }

            div {

                #find-food {
                    width: 80px;
                    font-size: 0.4rem;
                    img {
                        width: 10px;
                    }
                }
                button {
                    width: 80px;
                    font-size: 0.5rem;
                    img {
                        width: 15px;
                    }
                }

                form {
                    input {
                        width: 100px;
                        font-size: 0.4rem;
                    }
                    img {
                        width: 10px;
                    }
                }
            }
        }

        #food-search {
            span h1 {
                font-size: 1rem;
            }
        }

        #food-category-button {
            a {
                font-size: 10px;
            }
        }

        #food-search #food-category-container .food-category-cards img {
            width: 150px;
        }

        #app-features-showcase {
            height: 500px;
        }

        #app-img {
            width: 50%;
            left: 5%;
        }

        #app-features-showcase #app-features div {
            p {
                font-size: 0.6rem;
            }

            img {
                width: 30px;
            }
        }

        #app-install {
            bottom: 20%;

            h1 {
                font-size: 1.5rem;
            }

            p {
                font-size: 0.7rem;
            }

            button img {
                width: 15px;
            }
        }

        #app-install button span #light-text {
            font-size: 0.3rem;
        }

        #app-install button span #dark-text {
            font-size: 0.5rem;
        }

    #direct-order-foods .direct-order-container .direct-order-content{
        h1 {
            font-size: 0.7rem;
        }

        p {
            font-size: 0.5rem;
            margin-bottom: 10px;
        }

        button {
            font-size: .5rem;
            margin-top: 10px;
            padding: 5px;
        }
    }

    #direct-order-foods .direct-order-container div button {
        margin-top: 5px;
        padding: 5px;
        font-size: 0.8rem;
    }

        footer {
            li a{
                font-size: 0.3rem;
                text-wrap: wrap;
            }

            #legal-information h1 {
                font-size: 0.5rem;
                margin-right: 5px;
            }
        }

        footer #legal-information #socials {

            span {
                width: 80px;
                a img {
                    width: 15px;
                }
            }
            h1 {
                font-size: 0.5rem;
            }

            div {
                width: 120px;
            }

            div input {
                font-size: 0.5rem;
                margin-right: 0;
                margin-bottom: 10px;
            }

            div button {
                font-size: 0.6rem;
            }
        }

    #bottom-order {
        height: 100px;

        div h1 {
            font-size: 0.8rem;
        }

        div button {
            a {
                font-size: 0.5rem;
            }
            width: 100px;
            margin-top: 10px;
            padding: 5px;
        }
    }
 }
 
 @media (min-width: 480px) and (max-width: 767px) {

        header {
            nav p {
                font-size: .5rem;

                img {
                    width: 5px;
                }
            }

            #header-buttons {
                gap: 5px;
            }
        }

        #header-buttons #search-btn a p{
            font-size: .5rem;
            img {
                width: 8px;
            }
        }

        #user-btn p{
            font-size: .5rem;
            img {
                width: 8px;
            }
        }

        header nav #logo {
            width: 100px;
        }

           #login-container form input {
               font-size: .7em;
           }
    
           main #Delivery-panel {
               h1 {
                   font-size: 2rem;
               }
    
               h6 {
                   font-size: 0.6rem;
               }
    
               div {
    
                   #find-food {
                       width: 100px;
                       font-size: 0.6rem;
    
                       img {
                           width: 12px;
                       }
                   }
    
                   button {
                       width: 100px;
                       font-size: 0.6rem;
    
                       img {
                           width: 15px;
                       }
                   }
    
                   form {
                       input {
                           width: 100px;
                           font-size: 0.4rem;
                       }
    
                       img {
                           width: 10px;
                       }
                   }
               }
           }

        #popular-foods #container #card-container .card-img {
            width: 140px;
        }

        #featured-restaurants #restaurant-showcase-container .main-img {
            width: 250px;
        }

        #food-search {
            span h1 {
                font-size: 1.5rem;
            }
        }

        #food-category-button {
            a {
                font-size: 15px;
            }
        }

        #app-features-showcase #app-features div {
            p {
                font-size: 1rem;
            }

            img {
                width: 40px;
            }
        }

        #app-img {
            width: 50%;
            left: 5%;
        }

        #app-install {
            bottom: 20%;

            h1 {
                font-size: 1.8rem;
            }

            p {
                font-size: 0.9rem;
            }

            button img {
                width: 10px;
            }
        }

        #app-install button span #light-text {
            font-size: 0.4rem;
        }

        #app-install button span #dark-text {
            font-size: 0.6rem;
        }

        .direct-order-container {
            div {

                p {
                        font-size: 0.5rem;
                    }
            }
        }

        #direct-order-foods .direct-order-container .direct-order-content h1 {
            font-size: 1rem;
        }

        #direct-order-foods .direct-order-container .direct-order-content button {
            margin-top: 10px;
            padding: 5px;
            font-size: 0.6rem;
        }

        #bottom-order {
            height: 160px;

            div h1 {
                font-size: 1.5rem;
            }

            div button {
                margin-top: 10px;
                font-size: 0.8rem;
                padding: 5px;
            }
        }

        footer {
            li a {
                font-size: 0.7rem;
            }

            #legal-information {
                gap: 10px;
                h1 {
                    font-size: .8rem;
                }
            }

            #socials div button {
                margin-top: 10px;
            }
        }

}

@media (min-width: 768px) and (max-width: 1024px) {
    header {
        nav p {
            font-size: .7rem;

            img {
                width: 8px;
            }
        }

        #header-buttons {
            gap: 5px;
        }
    }

    #header-buttons #search-btn a p {
        font-size: .6rem;

        img {
            width: 10px;
        }
    }

    #user-btn p {
        font-size: .6rem;

        img {
            width: 10px;
        }
    }

    header nav #logo {
        width: 150px;
    }

    #login-container form input {
        font-size: 1.5rem;
    }

    #Delivery-panel {
        h1 {
            font-size: 3rem;
        }

        h6 {
            font-size: 0.9rem;
        }
    }

    #popular-foods #container #card-container .card-img {
        width: 160px;
    }

    #featured-restaurants #restaurant-showcase-container .main-img {
        width: 280px;
    }

    #app-features-showcase #app-features div {
        p {
            font-size: 2rem;
        }

        img {
            width: 45px;
        }
    }

    #app-install {
        bottom: 18%;

        h1 {
            font-size: 2rem;
        }

        button img {
            width: 16px;
        }
    }

    #light-text {
        font-size: 0.8rem;
    }

    #dark-text {
        font-size: 1.1rem;
    }

    .direct-order-container {
        div {
            height: 250px;
            width: 100%;

            p {
                font-size: 0.8rem;
            }
        }
    }

    #direct-order-foods .direct-order-container div h1 {
        font-size: 1.8rem;
    }

    #direct-order-foods .direct-order-container div button {
        margin-top: 8px;
        padding: 8px;
    }
}


@media (min-width: 1025px){
    #app-features-showcase {
        height: 750px;
    }

    #app-install {
        bottom: 20%;

        h1 {
            font-size: 4rem;
        }
    }

    #light-text {
        font-size: 0.8rem;
    }

    #dark-text {
        font-size: 1rem;
    }

    #app-img {
        width: 30%;
        left: 20%;
    }

    .direct-order-container {
        div {
            height: 500px;
            width: 100%;
        }
    }

    #food-search #food-category-container .food-category-cards img {
        width: 260px;
    }

   #direct-order-foods .direct-order-container .direct-order-content {
    h1 {
        font-size: 3.5rem;
    }

    p {
        font-size: 1.5rem;
    }

    h1, p {
        margin-left: 10px;
    }
   }

   #direct-order-foods .direct-order-container .direct-order-content button {
       margin-top: 40px;
       font-size: 1.5rem;
   }

    #bottom-order {
        height: 400px;

        div h1 {
            font-size: 3rem;
        }
    }
}